
body {
    background-color: black;
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
    font-family: 'Helvetica Neue';
    color: yellow;
    text-align: center;
}
feuille de style user-agent
body {
    display: block;
    margin: 8px;
}
#button {
    margin-top: 20px;
    padding: 12px 30px;
    background: #ffe81f;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ffe81f;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 12px #ffe81f;
    transition: 0.3s;
}

#button:hover {
    background: #000;
    color: #ffe81f;
    box-shadow: 0 0 20px #ffe81f;
}